body {
    background-color: black;
    height: 800px;
  }

main {
    background-image: url(images/desk3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
    margin: auto;
    width: 1400px;
    height: 810px;
    position: relative;
    left: 40;
}

.desk {
  position: relative;
  height: 800px;

}

footer {
  background-color: rgba(75, 38, 1, 0.487);
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 40px;
  }

  .sermon {
    text-align: center;
    margin: auto;
  }

  .message {
    position: absolute;
    top: 115px;
    width: 410px;
    left: 496px;
    font-size:10pt;
    text-wrap: wrap;



  }

  .passage {
    background-color: white;
    position: absolute;
    left: 950px;
    top: 255px;
    width: 245px;
    border: 3px solid rgb(155, 81, 41);

  }

  .pwindow {
    width: 240px;

  }

  .search {
    position: absolute;
    left: 950px;
    top: 170px;
    width: 235px;
    background-color: rgba(143, 66, 24, 0.7);
    padding: 5px;
    border: 3px solid rgb(225, 190, 171);
  }

  .notes {
    background-color: rgb(222, 180, 63);
    position: absolute;
    left: 950px;
    top: 475px;
    width: 245px;
    border: 3px solid rgb(155, 81, 41);
    height: 200px;
  }

  .ntwindow {
    width: 240px;
    background-color: rgba(221, 167, 17, 0);
    border: 0px;
  }


  .ql-container.ql-snow {
    border: 0px;
  }

  select {
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
  }

  .quill {
    border: 0;
    border-width: 0;
  }



  .nav-div {
    padding: 8px;
  }


  .present {
    position: absolute;
    top: 75px;
    left: 645px;
    padding: 5px;
    background-color: rgba(112, 48, 13, 0.88);
    color: white;
    font-weight: bold;
  }

  .save {
    position: absolute;
    top: 720px;
    left: 485px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0);
  }

  .save:hover {
    background-color: rgba(246, 96, 15, 0.669);
  }

  .present:hover {
    background-color: rgb(225, 190, 171);
    color: black;
  }

  .note-sv {
    position: absolute;
    top: 640px;
    left: 958px;
    padding: 5px;
    background-color: rgba(236, 196, 85, 0);
    font-weight: bold;
  }

  .note-sv:hover {
    background-color: rgba(246, 96, 15, 0.669);
  }

  .b1 {
    width: 8px;
    background-color: rgba(60, 25, 6, 0.88);
    height: 8px;
    border-radius: 100%;
    position: absolute;
    top: 162px;
    left: 475px;
  }

  .b2 {
    width: 8px;
    background-color: rgba(60, 25, 6, 0.88);
    height: 8px;
    border-radius: 100%;
    position: absolute;
    top: 162px;
    left: 918px;
  }

  .b3 {
    width: 8px;
    background-color: rgba(60, 25, 6, 0.88);
    height: 8px;
    border-radius: 100%;
    position: absolute;
    top: 762px;
    left: 922px;
  }

  .b4 {
    width: 8px;
    background-color: rgba(60, 25, 6, 0.88);
    height: 8px;
    border-radius: 100%;
    position: absolute;
    top: 762px;
    left: 472px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
    background-color: rgba(112, 48, 13, 0.88);
    color: white;
    padding: 5px;
    width: max-content;
    border: 3px solid rgb(225, 190, 171);
    text-align: center;
    margin-left: 15px;

  }

  .dropdown .dropbtn {
    font-size: 25px;
    font-weight: bold;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 4px;
    background-color: rgba(255, 255, 255, 0);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(112, 48, 13, 0.88);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 3px solid rgb(225, 190, 171);
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-weight: bold;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .nl:hover {
    background-color: rgb(225, 190, 171);
  }

  .pmode-back {
    background-color: white;
    width: 800px;
    height: 780px;
    margin: auto;
    color: black;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 5px solid rgb(155, 81, 41)
  }

  .login {
    background-color: rgba(0, 0, 0, 0.531);
    margin: auto;
    padding: 50px;
    text-align: center;
    width: 1150px;
    height: 550px;
    margin-top: 60px;
  }

  .login-form {
    background-color: rgba(112, 48, 13, 0.88);
    padding: 8px;
    border: 3px solid rgb(225, 190, 171);
    width: max-content;
    margin: auto;
    margin-top: 135px;
  }

  .login-input {
    margin: 5px;
  }

  .present-mode {
    position: absolute;
    top: 720px;
    left: 880px;
    background-color: rgba(255, 255, 255, 0);
    padding: 5px;
  }

  .login-link {
    position: absolute;
    left: 1250px;
    top: 10px;
    background-color: rgba(112, 48, 13, 0.88);
    padding: 8px;
    border: 3px solid rgb(225, 190, 171);
    color: white;

  }

  .login-link:visited {
    color: inherit;
  }

  .login-title {
    color: white;
    margin: 0px;
  }

  .create-form {
    background-color: rgba(112, 48, 13, 0.88);
    padding: 8px;
    border: 3px solid rgb(225, 190, 171);
    width: max-content;
    margin: auto;
  }

  .create {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    text-align: center;
    top: 400px;
    left: 560px;
  }

  .create-title {
    margin: 0px;
    color: white;
  }

  .home-link {
    position: absolute;
    left: 1250px;
    top: 10px;
    background-color: rgba(112, 48, 13, 0.88);
    padding: 8px;
    border: 3px solid rgb(225, 190, 171);
    color: white;
  }

  .main-link {
    color: white;
    text-decoration: none;
    font-weight: bold;

  }

  .nav-login {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }

  .present-panel {
    width: 800px;
    max-height: 760px;
    overflow-y: scroll;
  }
